<%= form_for @product do |f| %>
	<p><%= f.label :Name %></p>
	<p><%= f.text_field 'name', :class => 'form-control' %></p>
	<p><%= f.label :Description %></p>
	<p><%= f.text_area 'description', :class => 'form-control', :rows => '6'%></p>
	<p><%= f.submit %> </p>
</p>
<% end %>